<!DOCTYPE html>

<html>

<head>
    <title>Tracking Url</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link rel='stylesheet' href="css/track.css" />
    <script src="js/track.js"></script>
</head>

<body>
    <h1 id="track-header">Track your ride</h1>
    <div id="map"></div>
    script(src='https://maps.googleapis.com/maps/api/js?key='+ apiKey +'&callback=initMap&v=weekly' defer)
</body>

</html>